<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12648018123-ak8ucuatimr5odkgaaloh06mhcvgvlol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12648018123-ak8ucuatimr5odkgaaloh06mhcvgvlol</string>
	<key>API_KEY</key>
	<string>AIzaSyCxK2VDZurdcosLC7EPHYXBg12rWNokf1M</string>
	<key>GCM_SENDER_ID</key>
	<string>12648018123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oxygendigital.app.OneSignalNotificationServiceExtension</string>
	<key>PROJECT_ID</key>
	<string>oxygen-331f3</string>
	<key>STORAGE_BUCKET</key>
	<string>oxygen-331f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12648018123:ios:0194498f58f4d37c72ab4e</string>
</dict>
</plist>